.diary-list {
    height: 100%!important;
    width: 100%!important;
    overflow-y: scroll!important;
}

.diary-card {
    width: 80%!important;
    margin-top: 20px!important;
}

.zoom-image {
    width: 100%;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}