/* 强制表头th不要动画效果 */
.ant-table-thead > tr > th {
    transition: none!important;
}

.custom-cell:focus {
    border:  none;
    outline: medium;
}

.custom-cell:hover {
    cursor: cell;
}

.inside-cell {
    background-color: rgba(67, 172, 172, 0.349)!important;
    color: #ffffff!important;
}

.custom-cell {
    border-bottom: none!important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-focus-top {
    border-top: 1px solid aqua!important;
}

.custom-focus-right {
    border-right: 1px solid aqua!important;
}

.custom-focus-bottom {
    border-bottom: 1px solid aqua!important;
}

.custom-focus-left {
    border-left: 1px solid aqua!important;
}