@import '~antd/dist/antd.css';

#root, .pageLayout {
    height: 100%;
    background: cadetblue;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 2% 6%;
    background-image: url('../images/app-bg.png');
}

.kjax-handle-btn {
    margin-bottom: 20px;
}

.top {
    background: #ffffff;
    height: 50px;
    border-bottom: 1px solid #ccc;
}

.top-col {
    padding-left: 20px;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.middle {
    padding: 20px;
    background: #ffffff;
}
.mid-img {
    width: 100%;
    height: 690px;
}

.text1 {
    font-weight: bold;
    font-size: 16px;
}

.text2 {
    font-weight: bold;
    font-size: 76px;
}

.text3 {
    font-weight: bold;
}

.text4 {
    margin-top: 110px;
}